p {
	text-align:center;
	font-size:10px;
	margin:2px;
}
/*///////////////////////////////////
Logo
///////////////////////////////////*/
.myinput
{
	font-size: 10px;
	padding: 1px;
	font-family:calibri;
	height: 15px;
}

.header
{
	height: 40px;
	font-family:calibri;
	background: #DEDEDE;
	font-size: 16px;
	list-style:none;
}
.header li
{
	float: left;
	padding: 2px;
}

.table1
{
	font-family:calibri;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
	font-size: 10px;
}

.table2
{
	table-layout:fixed;
	font-family:calibri;
	text-align: center;
	font-size: 10px;
	border-top: #A9A9A9 1px solid;
	border-left: #A9A9A9 1px solid;
	border-right: #A9A9A9 1px solid;
	list-style:none;
}

.table2 li
{
	float: left;
	padding: 2px;
}

.table3
{
	font-family:calibri;
	margin-top: 5px;
	text-align: left;
	font-size: 10px;
	list-style: none;
}

.table3 li
{
	float: left;
	padding: 0px 2px;
}



.bottom
{
	font-family:calibri;
	margin-top: 5px;
	list-style:none;
}

#print_button
{
	width:100px;
	height:25px;
	display: block;
	color: #FFF;
	background-color: #FAA732;
	border-color: #FAA732;
}

#export_button
{
	width:100px;
	height:25px;
	display: block;
	color: #FFF;
	background-color: #5BB75B;
	border-color: #5BB75B;
}

/*///////////////////////////////////
Imprimir
///////////////////////////////////*/
@media print {
	body {
		/*transform: scale(.7);*/
		zoom: 100%;
	}
	#header
	{
		-webkit-print-color-adjust: exact;
	}
	.table1
	{
		-webkit-print-color-adjust: exact;
	}
	.table2
	{
		-webkit-print-color-adjust: exact;
	}
	.table3
	{
		-webkit-print-color-adjust: exact;
	}
	input,
	textarea {
		border: #A9A9A9 1px solid !important;
		box-shadow: none !important;
		outline: none !important;
	}
	#print_button {
		display: none;
	}
	#export_button {
		display: none;
	}
}
@page 
{
	margin: 0.5cm 0.5cm 1.0cm 0.5cm;
}